/archives/*
/bin/*
/config/*
/cores/*
/impls/*
/quicklisp/*
/share/*
/src/*
/systes/*
/tmp/*
/log/*
/.cache/*
memo
/.quicklisp-path
/lib/quicklisp.lisp
/res/ql_help_quickload
/res/ql_help_system-apropos
/scripts/cim_list_reinstall
update_version.sh